<div class="panel panel-default">
  <div class="panel-heading">
      <h1>Usuários</h1>
  </div>
  <div class="panel-body">
      <table class="table table-striped table-bordered">
          <thead>
              <tr>
                  <th>Nome</th>
                  <th>Idade</th>
                  <th>Telefone</th>
                  <th>CEP</th>
                  <th>Ações</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let user of users | async">
                  <td>{{user.name}}</td>
                  <td>{{user.age}}</td>
                  <td>{{user.phone.ddd | mask: '(00)'}} {{user.phone.number | mask: '0000-0000'}}</td>
                  <td>{{user.address.postalCode  | mask: '00-000.000'}}</td>
                  <td><button (click)="deleteUser(user.id)">Excluir</button>
                    <button (click)="editUser(user)">Editar</button></td>
              </tr>
          </tbody>
      </table>
  </div>
</div>