<h3>Criar Usuário</h3>
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="user.name" name="name">
        </div>

        <div class="form-group">
            <label for="age">Idade</label>
            <input type="number" class="form-control" id="age" required [(ngModel)]="user.age" name="age">
        </div>

        <button type="submit" class="btn btn-success">Salvar</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>Salvo com sucesso!</h4>
</div>